/*
 *= require_self
 */
html {
  font-size: 10px;
}
#app {
  min-width: 600px;
  font-size: 1.4rem;
}
.devise {
  width: 300px;
  margin: 100px auto 0;
  h2 {
    text-align: center;
  }
  .field {
    margin-bottom: 10px;
    input {
      padding: 10px;
      font-size: 1.6rem;
      &[type=text], &[type=password] {
        width: 100%;
        border-style: none;
        border: 1px solid #ccc;
        border-radius: 3px;
        &:focus {
          border-color: #5cb3fd;
          outline: 0;
        }
      }
      &[type=checkbox] {
        margin-right: 5px;
      }
    }
    label {
      cursor: pointer;
    }
  }
  .actions {
    text-align: center;
    input[type=submit] {
      margin: 0 auto;
      padding: 10px 15px;
      font-size: 1.6rem;
      background-color: #4CAF50;
      color: white;
      border-style: none;
      border-radius: 3px;
      cursor: pointer;
    }
  }
  &__links {
    text-align: right;
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
